 .camera-icon {
  background-color: #000000; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px; 
  height: 30px; 
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.camera-icon img {
  width: 20px; 
  height: 20px;
  z-index: 1; 
} 


